In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

In [2]:
for i in range(1,334):
    url='https://www.ambitionbox.com/list-of-companies?campaign=homepage_companies_widget&page={}'.format(i)
    
    headers={'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.64 Safari/537.36 Edg/101.0.1210.47'}
    webpage=requests.get(url,headers=headers).text
    
    soup=BeautifulSoup(webpage,'lxml')

In [3]:
for i in soup.find_all('p',class_='rating'):
    print(i.text.strip())

3.7
3.9
4.2
4.5
4.1
3.7
4.3
4.4
3.8
3.6
3.1
4.2
3.4
3.1
3.3
4.3
4.4
4.5
3.8
4.0
4.3
4.0
3.7
4.2
4.0
3.7
3.8
3.8
3.7
3.8

In [4]:
for i in soup.find_all('h2',class_='company-name'):
    print(i.text.strip())

Yuva Parivartan
Dwarikesh Sugar ...
Nido Machineries
Volkswagen Finan...
M.R.P.L
Tvs Training And...
Poona Hospital A...
Vaibhav Jeweller...
OPK e Services
Almajal Alarabi ...
Acharya Institut...
O2f info Solutio...
Reserve Bank Inf...
Shilpi Engineeri...
Techahead Softwa...
Lumax Mannoh All...
Qapitol Qa
Go Go Internatio...
Olive Healthcare
Abdul Ali Al Ajm...
Saudi Iron And S...
Gopaldas Visram ...
Gupta Exim
White Shrub
One Auto
Swamy Sons Agenc...
ABRL Retail
Il&fs Environmen...
Polytechnic Coll...
Appsquadz Softwa...

In [5]:
company=soup.find_all('div',class_='company-content-wrapper')

In [6]:
name=[]
rating=[]
ctype=[]
hq=[]
old=[]
employee=[]

for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('p',class_='rating').text.strip())
    ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    hq.append(company[0].find_all('p',class_='infoEntity')[1].text.strip())
    old.append(company[1].find_all('p',class_='infoEntity')[2].text.strip())
    employee.append(company[2].find_all('p',class_='infoEntity')[3].text.strip())
    
d={'name':name,'rating':rating,'ctype':ctype,'headquarters':hq,'old':old,'employee':employee}

df=pd.DataFrame(d)

In [7]:
final=pd.DataFrame()

for j in range(1,334):
    url='https://www.ambitionbox.com/list-of-companies?campaign={}'.format(j)
    
    headers={'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.64 Safari/537.36 Edg/101.0.1210.47'}
    webpage=requests.get(url,headers=headers).text
    
    soup=BeautifulSoup(webpage,'lxml')
    
    company=soup.find_all('div',class_='company-content-wrapper')
    
    name=[]
    rating=[]
    ctype=[]
    hq=[]
    old=[]
    employee=[]

    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('p',class_='rating').text.strip())
        ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
        hq.append(company[0].find_all('p',class_='infoEntity')[1].text.strip())
        old.append(company[1].find_all('p',class_='infoEntity')[2].text.strip())
        employee.append(company[2].find_all('p',class_='infoEntity')[3].text.strip())

    d={'name':name,'rating':rating,'ctype':ctype,'headquarters':hq,'old':old,'employee':employee}

    df=pd.DataFrame(d)
        
    final=final.append(df,ignore_index=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_16712\82988619.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)

In [14]:
final

,name,rating,ctype,headquarters,old,employee
0,TCS,3.9,Public,"Mumbai,Maharashtra + 276 more",34 years old,1 Lakh+ Employees (India)
1,Accenture,4.1,Public,"Mumbai,Maharashtra + 276 more",34 years old,1 Lakh+ Employees (India)
2,Cognizant,3.9,Private,"Mumbai,Maharashtra + 276 more",34 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,Public,"Mumbai,Maharashtra + 276 more",34 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,Public,"Mumbai,Maharashtra + 276 more",34 years old,1 Lakh+ Employees (India)
...,...,...,...,...,...,...
9985,BYJU'S,3.4,Private,"Mumbai,Maharashtra + 276 more",34 years old,1 Lakh+ Employees (India)
9986,Tata Motors,4.1,Public,"Mumbai,Maharashtra + 276 more",34 years old,1 Lakh+ Employees (India)
9987,Flipkart,4.2,Public,"Mumbai,Maharashtra + 276 more",34 years old,1 Lakh+ Employees (India)
9988,WNS,3.7,Private,"Mumbai,Maharashtra + 276 more",34 years old,1 Lakh+ Employees (India)
9989,IndusInd Bank,3.8,Public,"Mumbai,Maharashtra + 276 more",34 years old,1 Lakh+ Employees (India)